h1 {
  color: red;
  display: inline;
  font-size: 28px;
}
span {
  color: red;
  font-size: 28px;
  font-weight: 700;
}
iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
h3 {
  color: green;
}