<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">

  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="newPageName">
    <button id="create-file" v-on:click="createPage">Создать</button>
    <button id="delete-file">Удалить</button>
    <div v-for="(page,index) in pageList" :key="index">
      <span>{{ index + 1 }}.</span>
      <h1>{{ page }}<a href="#" @click="deletePage(page)">[X]</a></h1>
    </div>
  </div>
  <script defer src="bundle.js"></script>
</body>

</html>